$bgColor: #ffffff;
$fontColor: #006298;
$fontStyle: "Poppins", sans-serif;

body {
  background-size: 100%;

  div {
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
  }

  h1,
  h2 {
    font-family: $fontStyle;
    color: $fontColor;
    text-align: center;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1em;
  }

  tr,
  td {
    font-size: 0.75rem;
    vertical-align: middle;
    text-align: center;
    color: $fontColor;
  }
}

#yearLevel {
  input {
    width: 120px;
    text-align: center;
    color: $fontColor;
    border: 2px solid $fontColor;
    border-radius: 50px;
  }
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
