$bgColor: #ffffff;
$fontColor: #006298;
$fontStyle: "Poppins", sans-serif;

body {
  background-size: 100%;
  div {
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
  }

  h1,
  h2,
  h3 {
    font-family: $fontStyle;
    color: $fontColor;
    text-align: center;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 0.75em;
  }

  tr,
  td {
    font-size: 0.7rem;
    vertical-align: middle;
    text-align: center;
    color: $fontColor;
  }
}

#minAge,
#maxAge {
  input {
    text-align: center;
    color: $fontColor;
    border: 2px solid $fontColor;
    border-radius: 50px;
  }
}

.modal-dialog {
  max-width: max-content;
  color: $fontColor;

  .modal-header {
    background-color: #006298;
    color: #ffffff;
  }
}

.bg-light {
  text-align: center;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  color: $fontColor;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
