$bgColor: #ffffff;
$fontColor: #006298;
$fontStyle: "Poppins", sans-serif;

body {
  background-image: url(./homeBG.jpg);
  background-size: 100%;

  div {
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
  }

  h1 {
    font-size: 2em;
    font-family: $fontStyle;
    color: $fontColor;
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    font-size: 0.75rem;
    font-family: $fontStyle;
    color: $fontColor;
    text-align: center;
    white-space: normal;
    margin-bottom: 0;
  }

  p:hover {
    opacity: 0.75;
  }

  tr,
  td {
    font-size: 0.7rem;
    vertical-align: middle;
    text-align: center;
    color: $fontColor;
  }

  label {
    float: left;
    margin-bottom: 5px;
    font-size: 1rem;
  }

  #container {
    width: 100%;
    height: 100%;
    align-items: center;
  }
}

#tableContent {
  vertical-align: middle;
  text-align: center;
}

.modal-dialog {
  max-width: max-content;
  color: $fontColor;

  .modal-header {
    background-color: #006298;
    color: #ffffff;
  }
}

.bg-light {
  text-align: center;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  color: $fontColor;
}
