$bgColor: #ffffff;
$fontColor: #006298;
$fontStyle: "Poppins", sans-serif;

body {
  background-size: 100%;
  background-repeat: no-repeat;

  div {
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
  }
  label {
    float: left;
    margin-bottom: 5px;
    font-size: 1rem;
  }
  h1,
  h2 {
    font-family: $fontStyle;
    color: $fontColor;
    text-align: center;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1em;
  }

  #container {
    width: 100%;
    height: 100%;
    align-items: center;
  }
}

#formLabel {
  font-size: 0.8rem;
  color: $fontColor;
  font-family: $fontStyle;
  margin-bottom: 5px;
}

#addStudent {
  color: #ffffff;
  background: #006298;
}

#returnHome {
  width: auto;
}

.bg-light {
  text-align: center;
}
